.fa-events-icons-ready{
  padding-right:20px;
  padding-left:20px;
}
.toptype{
  font-size: 25px;
  font-family: 'Permanent Marker', cursive;
text-align:center;
}
.thehead{
  font-family: 'Permanent Marker', cursive;
  /* font-family: 'Poiret One', cursive; */
  text-align: center;
  padding-top: 15px;
  padding-bottom:15px
  text-transform: capitalize;
}
#newfont1{
font-size: 22px;
}
#numbernum{
  color: red;
}
.homenav{
  text-align: center;
  background: ;
}
li{
display: inline-block;
padding: 15px;

}
/* .alexpic{
  height: 540px;
  width: 100%;
} */
.alexpic{
  position: fixed;
    top: 0;
    bottom: 80px;
    left: 0;
    right: 0;
    max-width: 100%;
    max-height: 100%;
    margin: auto;
    overflow: auto;
}
.colornav{
  font-family: 'Poiret One', cursive;
  /* font-family: 'Permanent Marker', cursive; */
  color:black;
}
#changeColor{
  color: red;
}
a:hover {
  text-decoration: none;
    color: red;
}
.contacpicmove{
  position: absolute;
}
.contactpic{
  position: absolute;
  padding-top: 60px;
  padding-left: 14%;
  padding-bottom: 15px;
}
.myicons{
  position: absolute;
  padding-left: 43%;
  padding-top: 40px;
}
.contacttext{
  position: absolute;
  padding-left: 48%;
  padding-top: 170px;
}
.contacttext1{
  font-size: 30px;
  font-family: 'Poiret One', cursive;
  z-index: -1;
  text-align: center;
  position: absolute;
  padding-left: 42%;
  padding-top: 140px;
  line-height: 40px;
}
/* .contacttext2{
  text-align: center;
  position: absolute;
  padding-left: 44%;
  padding-top: 290px;
} */
/* .contacttext3{
  text-align: center;
  position: absolute;
  padding-left: 52%;
  padding-top: 348px;
}
.contacttextnumber{
  position: absolute;
  padding-left: 50%;
  padding-top: 415px;
} */
/* .mainsetioncontact{
  background-color: green;
  margin: 6px;
  width: 400px;
  height: 200px;
} */


.row > .column {
padding: 8px 8px;
}

.row:after {
content: "";
display: table;
clear: both;
}

.column {
float: left;
width: 25%;
}

/* The Modal (background) */
.modal {
display: none;
position: fixed;
z-index: 1;
padding-top: 100px;
left: 0;
top: 0;
width: 100%;
height: 100%;
overflow: auto;
background-color: black;
}

/* Modal Content */
.modal-content {
position: relative;
background-color: #fefefe;
margin: auto;
padding: 0;
width: 90%;
max-width: 1200px;
}

/* The Close Button */
.close {
color: white;
position: absolute;
top: 10px;
right: 25px;
font-size: 35px;
font-weight: bold;
}

.close:hover,
.close:focus {
color: #999;
text-decoration: none;
cursor: pointer;
}

.mySlides {
display: none;
}

.cursor {
cursor: pointer
}

/* Next & previous buttons */
.prev,
.next {
margin-top: -130px;
cursor: pointer;
position: absolute;
top: 50%;
width: auto;
padding: 16px;
margin-top: -370px;
color: white;
font-weight: bold;
font-size: 20px;
transition: 0.6s ease;
border-radius: 0 3px 3px 0;
user-select: none;
-webkit-user-select: none;
}

/* Position the "next button" to the right */
.next {
  margin-top: 30px;
  /* padding-top: 342px; */
right: 0;
border-radius: 3px 0 0 3px;
}
.prev{
  margin-top: 30px;
}

/* On hover, add a black background color with a little bit see-through */
.prev:hover,
.next:hover {
background-color: rgba(0, 0, 0, 0.8);
}

/* Number text (1/3 etc) */
.numbertext {
color: #f2f2f2;
font-size: 12px;
padding: 8px 12px;
position: absolute;
top: 0;
}

img {
margin-bottom: -4px;
}

.caption-container {
text-align: center;
background-color: black;
padding: 2px 16px;
color:green;
}

.demo {
opacity: 0.6;
}

.active,
.demo:hover {
opacity: 1;
}

img.hover-shadow {
transition: 0.3s
}

.hover-shadow:hover {
box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19)
}
